* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #2d2e37;
  color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
  color: #020cff;
}
.background-1 {
  min-height: 100vh;
  border-radius: 70px 0px 0px 70px;
  border: 1px solid #fff;
  background: linear-gradient(180deg, #516395 0%, #7b59a3 100%);
  backdrop-filter: blur(41px);
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.menu {
  margin-left: 30px;
  margin-top: 20px;
  margin-right: 10px;
}

.app_music {
  border-radius: 50px 0px 0px 50px;
  /* flex-basis: 60%; */
  color: black;
  /* padding-right: 40px; */
  width: 0;
  transition: all 0.8s ease-in-out;
}
.music {
  flex: 0.6;
  color: black;
  background: #fcfcff;
}
footer {
  display: block;
}

.h1 {
  margin-left: 20px;
  margin-top: 40px;
  color: #000;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
}
.h2 {
  margin-left: 30px;
  margin-top: 5px;
  color: #000;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
}
.head {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}
.title {
  flex-basis: 50%;
}
.search {
  flex: 1;
}
.input-search {
  width: 550px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid #000;
  background: #fcfcff;
  margin-top: 40px;
  margin-left: 40px;
  font-size: 20px;
  letter-spacing: 1.6px;
}
.app {
  display: flex;
  margin-left: 5px;
  flex-wrap: wrap;
}
.boder-image {
  border-radius: 30px;
  display: flex;
  justify-content: center;
}
.bottom-right {
  position: absolute;
  bottom: 8px;
  left: 10px;
  background-color: rgba(150, 150, 150, 0.7);
  color: white;
  padding: 7px;
  border-radius: 5px;
}

/* Trending*/
.see-all {
  margin-left: auto;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #020cff;
  font-family: Rubik;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
.list-music-container {
  margin: 10px 0 0 30px;
  display: flex;
  justify-content: space-between;
}
.number-trending {
  flex-basis: 10%;
}
.image-trending {
  flex-basis: 20%;
}
.name-author-trending {
  flex-basis: 30%;
}
.time-trending {
  flex-basis: 10%;
}
.action-trending {
  flex-basis: 20%;
  display: flex;
}

/* List Music*/
.list-music {
  margin: 10px 0 0 10px;
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
}
.title-music-list {
  margin: 30px 0 0 10px;
  color: #000;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
}
.music {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.head-music {
  display: flex;
  flex-direction: row;
}
.list-music {
  flex-wrap: wrap;
  flex-basis: 40%;
}
.your_music {
  display: flex;
  margin-left: 10px;
  flex-basis: 70%;
  flex-wrap: wrap;
  flex-direction: column;
}
.cover-fav {
  margin: 10px 10px 0 10px;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  border-radius: 20px 20px 0px 0px;
}
.image-fav {
  flex-basis: 50%;
}
.name-author-fav {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
}
.name-fav {
  flex-basis: 30%;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.card-music {
  margin-top: 10px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid #000;
  background: rgba(222, 206, 255, 0.52);
  color: white;
  height: 22vh;
  width: 17vh;
  border-radius: 20px;
}
.image-music-card {
  margin: 10px auto;
  flex-basis: 60%;
}
.title-card {
  flex-basis: 20%;
  margin-left: 20px;
  font-size: medium;
}
.author-card {
  flex-basis: 20%;
  margin-left: 20px;
  font-size: medium;
}

/* ********* */
.card-music-2 {
  margin: 20px auto;
  border-radius: 30px;
  border: 3px solid #000;
  background: linear-gradient(
    315deg,
    rgba(255, 255, 255, 0.26) 0%,
    rgba(186, 164, 248, 0.26) 100%
  );
  width: 400px;
  height: 550px;
}
.image-card-2 {
  margin: 30px;
  border-radius: 20px;
  background-color: #516395;
  height: 250px;
  border: 3px solid #000;
}
.body2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bar-action {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 10px 0 10px;
  align-items: center;
}
.card-action {
  margin: 20px;
}
.card-action-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.slide-right {
  background-color: #fff;
  border-radius: 70px 0px 0px 70px;
  width: 700vh;
  display: flex;
  border: 2px solid #000;
}
.button1 {
  display: flex;
  align-items: center;
}

/* Navbar */
.navbar {
  display: flex;
  flex-direction: column;
}
.logo {
  margin: 30px;
}

.link-navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90vh;
  margin-left: 20px;
}

/* Home Page */
.music-list {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: 100%;
  display: flex;
}
.music-main {
  flex-basis: 70%;
  margin: 20px;
}
.music-list-artist {
  flex-basis: 30%;
}
.home-image {
  border-radius: 20px;
}

.main-image {
  margin: 20px 0 20px 0;
  position: relative;
  text-align: center;
}
.bottom-left {
  position: absolute;
  text-align: center;
  width: 200px;
  height: 20px;
  bottom: 20px;
  left: 30px;
  background-color: darkgray;
  border-radius: 10px;
}
.main-trending {
  margin-top: 20px;
}
.head-trending {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.group-trending {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}
.music-list-artist {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

/* Top list  */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-basis: 5%;
}
.header-title {
}
.header-link {
  margin-right: 20px;
}
.top-list {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  flex-basis: 70%;
  padding-bottom: 10px;
}
.hiden {
  opacity: 0;
}
.card_fav {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 162px;
  justify-content: center;
  border-radius: 10px;
}
.card-group {
  display: flex;
  flex-direction: row;
  flex-basis: 95%;
  margin-right: 10px;
}
.top-list-name {
  margin: 20px;
  padding-right: 157px;
}
.top-list-action {
  margin: 20px;
}
.animate__fadeOut {
  animation: bounceIn;
  animation-duration: 3s;
  opacity: 0;
}
.animate__fadeIn {
  animation: bounceIn;
  animation-duration: 1s;
}
.animation {
  margin: 10px;
  animation: fadeIn 3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.button-add{
  flex-basis: 50%;
 display: flex;
 justify-content: flex-end;
}
.button-add-property{
  margin-top: 40px;
 
  
}
.button-add-property button{
  border-radius: 40px;
  background-color: antiquewhite;
  width: 90px;
  height: 40px;
}
